<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid key-metrics-content">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col key-metrics-header">
      <p>
        Issues:&nbsp;{{currentIssues}}
      </p>
    </div>

    {{#if model.issues}}
      {{google-chart
        class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col google-chart"
        data=barChartData
        xAxisLegend="Date"
        yAxisLegend="Issues"
        chartOptions=barChartOptions
        chartType="Bar"
        action="chartHasUpdated"
      }}
    {{/if}}

    {{#if model.customers}}
      {{google-chart
        class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col google-chart"
        data=lineChartData
        title="Number of paying customers"
        xAxisLegend="Date"
        yAxisLegend="Customers"
        chartOptions=lineChartOptions
        chartType="Line"
        action="chartHasUpdated"
      }}
    {{/if}}

  </div>
</main>
