<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid key-metrics-content">
      {{time-histogram
        data=numberOfIssues
        class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col"
      }}

      {{log model.content}}
      {{#if model}}
        {{line-histogram
          class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col"
          data=model
          title="Number of paying customers"
          xAxisLegend="Date"
          yAxisLegend="Customers"
        }}
      {{/if}}
  </div>
</main>
